//=============================================================================
//  Module: Titles
//=============================================================================

// ----------------------------------------------------------------------------

// Title: 汎用的なタイトル
//
// 汎用的に使用するタイトル
//
// .ttl-lv1 - 18px 相当
// .ttl-lv2 - 16px 相当
// .ttl-lv3 - 14px 相当
//
// Markup:
// <h3 class="{$modifiers}">Title</h3>
//
// Styleguide 5.1
.ttl-lv1 {
  font-size: rem(18);
}
.ttl-lv2 {
  font-size: rem(16);
}
.ttl-lv3 {
  font-size: rem(14);
}