//=============================================================================
//  Module: Buttons
//=============================================================================

// ----------------------------------------------------------------------------

// Button: 各種画像タイプのボタン
//
// 背景含む画像から生成されるボタン
//
// .btn-back-gry   - ほげ
// .btn-back-org   - ほげ
// .btn-menu       - ほげ
// .btn-next-gry   - ほげ
// .btn-next-org   - ほげ
// .btn-search-gry - ほげ
// .btn-search-org - ほげ
//
// Markup:
// <a class="{$modifiers}">Button</a>
//
// Styleguide 6.1
@for $i from 1 through length($btns) {
  $sprite: nth($btns, $i);
  $name:   nth($sprite, 5);

  .btn-#{$name} {
    display: block;

    @extend %sprite-btn;
    @include sprite-crop($sprite);
  }
}

