@charset "utf-8";

/* Information
-------------------------------------------------------------------------------

  Name:        MyProject
  URI:         http://hoge.hoge
  Description: Hoge official web site.
  Version:     1.0
  Author:      MyProject <hoge@hoge.hoge>
  Copyright :  2015 MyProject.

----------------------------------------------------------------------------- */

//=============================================================================
//  Bourbon
//=============================================================================
@import "bourbon";
@import "neat";

//=============================================================================
//  Core
//=============================================================================
@import "core";

//=============================================================================
//  Variables
//=============================================================================
@import "variables";

//=============================================================================
//  Utility
//=============================================================================
@import "utility";

//=============================================================================
//  Module
//=============================================================================
@import "module";

//=============================================================================
//  Styling
//=============================================================================
@import "basis";
@import "layout";

//=============================================================================
//  Partial
//=============================================================================

// ----------------------------------------------------------------------------

// Partial: Hoge
//
// ## ほげページ専用
//
// クラス名はブロック単位を示す接頭辞 `blk-` に続けて固有の名前をつけてください `blk-hogePage`
//
// ### 下記 scss ファイル参照
//
// * `/asset/scss/partial/_dev-hoge.scss`
//
// Styleguide 21.
@import "partial/dev-hoge";
